{% extends 'index.html' %}
{% load static %}
    
        <title> {% block title %} Barbell | Group  {% endblock %}</title>
         {% block nav %}
            <ul>
               <li><a href="/profile/self">PROFILE</a></li>
                <li><a href="/home">HOME</a></li>
            </ul>
            {% block header %}<h3 class="barbell">GROUP</h3> {% endblock %}
            <br>
         {% endblock %}
                {% block content %}
                <section class="container">
                    <!--Member 1 slot to be used for self if part of the group -->
                   <h1 class="section-header">'User Group Data (Group name)'</h1>
                   <div class="content-section-group">
                        <strong>'Input Group Member 1'</strong> 
                        <img class="home-screen-image" src="">       
                        <a href="{% url 'profile_self' %}"><button class="group-button" role="button"><strong>View Profile </strong></button></a>
                        <br>
                    </div>
                    <div class="content-section-group">
                        <strong>'Input Group Member 2'</strong>
                        <img class="home-screen-image" src="">                         
                        <a href="{% url 'profile_other' %}"><button class="group-button" role="button"><strong>View Profile </strong></button></a>
                        <br>
                    </div>
                    <div class="content-section-group">
                        <strong>'Input Group Member 3'</strong>
                        <img class="home-screen-image" src="">
                        <a href="{% url 'profile_other' %}"><button class="group-button" role="button"><strong>View Profile </strong></button></a>
                    </div>
                </section>
                  <section class="container">
                    <br>
                    <nav class="content body-nav">
                        <li><a href="{% url 'group_leaderboard' %}">View Group Leaderboard</a></li>
                    </nav>
                    <br>
                </section>
                {% endblock %}
                
                {% block additional_footer_content %}
                <div>
                    <a href="{% url 'group_settings' %}"><button class='group-button' role="button"><strong> Settings </strong></button></a>
                </div>
                <div class="container main-footer-container">
                    <ul class="footer-nav">
                        <li>
                            <a href="#"><button id="back-button" class="profile-button" role="button"><strong> Back </strong></button></a>
                        </li>
                    </ul>
                </div>
                {% endblock %}
           
    {% block script %}
            <script src="{% static 'js/group.js' %}"></script>
    {% endblock %}
