{% extends 'index.html' %}
{% load static %}
        <title>{% block title %}Barbell | Group Leaderboard {% endblock %} </title>
                {% block nav %}
                        <li><a href="/profile/self">PROFILE</a></li>
                        <li><a href="/home">HOME</a></li>
                          {% block header %}<h3 class="barbell">Group Leaderboard</h3> {% endblock %}
                  {% endblock %}  
            {% block content %}
            <section class="content-section container main-header">
              <form >
                <label> Leaderboards Currently In Developement &#9935; </label>
              </form>
            </section>
            {% endblock %}
       {% block additional_footer_content %} {% endblock %}
       {% block scripts %}
        <script src="{% static 'js/global-leaderboard.js' %}"></script>
        {% endblock %}