{% extends 'index.html' %}
{% load static %}
 
    <title>{% block title %} Barbell | Password Reset Complete {% endblock %}</title>
        {% block nav %}
          {% block header %}<h1 class="barbell text-lg p-1 sm:text-2xl md:text-4xl lg:text-6xl md:m-8">Password Reset Complete</h1> {% endblock %}
        {% endblock %} 
    {% block content %}
    <div class="container backdrop-form-style ">
        <p class="content-settings center">Your password has now been reset. You may now proceed to login.</p> 
        <a href="{% url 'signin' %}" ><button class="twButtonpurple p-3 w-full mb-3">Continue Here</button></a>
    </div>
        {% endblock %}
        {% block additional_footer_content %} 
        {% endblock %}
    {% block scripts %}
<!-- <script src="{% static '' %}"></script> -->
    {% endblock %}

