{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% load account %}

<!-- For these templates, their whole purpose is to override Django-allauth's 
     default templates, all while retaining the view logic to handle the
     email verification process -->

{% block title %}
    Barbell | Confirm Password Reset
{% endblock %}

{% block nav %}
    {% block header %}
        <h1 class="barbell">Enter Your New Password</h1>
    {% endblock %}
{% endblock %} 

{% block content %}
        <form action="." method="POST">
            {% csrf_token %}
            
            <label class="content">New Password</label>
            <div class="password-input-container">
                <input type="password" name="new_password1" placeholder="Enter new password" id="new-password" required>
                <button type="button" id="toggle-new-password" class="password-toggle-button">Show</button>
            </div>
            {% if form.new_password1.errors %}
                <div class="error">
                    {% for error in form.new_password1.errors %}
                        <p class="content error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <label class="content">Confirm New Password</label>
            <div class="password-input-container">
                <input type="password" name="new_password2" placeholder="Confirm new password" id="confirm-password-forgot" required>
                <button type="button" id="toggle-confirm-password" class="password-toggle-button">Show</button>
            </div>
            {% if form.new_password2.errors %}
                <div class="error">
                    {% for error in form.new_password2.errors %}
                        <p class="content error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <button type="submit" class="login-button all-space-small" role="button">Reset Password</button>
        </form>
{% endblock %}

{% block additional_footer_content %} 
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/password-reset-confirm.js' %}"></script>
<!-- imports the jQuery library from the jQuery CDN
     jquery makes it easier to handle tasks like DOM manipulation, 
     event handling, animation, ajax etc in this case, i use it for 
     a toggle on the password's visibility 
-->
{% endblock %}


