{% extends 'index.html' %}
{% load static i18n%}
 
    <title>{% block title %} Barbell | Password Reset Done {% endblock %}</title>
        {% block nav %}
          {% block header %}<h1 class="barbell">Password Reset Sent</h1> {% endblock %}
        {% endblock %} 
    {% block content %}
    <section class="content">
    <div class="container backdrop-form-style ">
        <p class="content content-settings center">{% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
    </div>
</section>
        {% endblock %}
        {% block additional_footer_content %} 
        {% endblock %}
    {% block scripts %}
<!-- <script src="{% static '' %}"></script> -->
    {% endblock %}

