{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}
    Barbell | Confirm Password Reset
{% endblock %}

{% block nav %}
    {% block header %}
        <h1 class="barbell">Confirm Password Reset</h1>
    {% endblock %}
{% endblock %} 

{% block content %}
    <div class="backdrop-form-style">
        <img class="static-logo-white" src="{% static 'images/barbell_white.png' %}" />
        <form action="{% url 'password_reset_confirm' uidb64=uidb64 token=token %}" method="POST">
            {% csrf_token %}
            
            <label class="content">New Password</label>
            <input type="password" name="new_password1" placeholder="Enter new password" required>
            
            <label class="content">Confirm New Password</label>
            <input type="password" name="new_password2" placeholder="Confirm new password" required>

            <button type="submit" class="login-button" role="button">Reset Password</button>
        </form>
    </div>
{% endblock %}

{% block additional_footer_content %} 
    <ul class="footer-nav">
        <li>
            <a href="#"><button id="back-button" class="profile-button" role="button"><strong> Back </strong></button></a>
        </li>
    </ul>
{% endblock %}

{% block scripts %}
    <!-- <script src="{% static '' %}"></script> -->
{% endblock %}

