{% extends 'index.html' %}
{% load static %}
 
    <title>{% block title %} Barbell | Password Reset Done {% endblock %}</title>
        {% block nav %}
          {% block header %}<h1 class="barbell">Password Reset Done</h1> {% endblock %}
        {% endblock %} 
    {% block content %}
    <div class="backdrop-form-style">
        <img class="static-logo-white" src="{% static 'images/barbell_white.png' %}" />    
    </div>
    {% endblock %}
        {% block additional_footer_content %} 
          <ul class="footer-nav">
              <li>
                  <a href="#"><button id="back-button" class="profile-button" role="button"><strong> Back </strong></button></a>
              </li>
          </ul>
        {% endblock %}
    {% block scripts %}
<!-- <script src="{% static '' %}"></script> -->
    {% endblock %}

