{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% load account %}

<!-- For these templates, their whole purpose is to override Django-allauth's 
     default templates, all while retaining the view logic to handle the
     email verification process -->

{% block style %}

{% endblock %}

{% block title %}
    Barbell | Reset Password
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
    <h3 class="section-header">{% trans "Password Reset" %}</h3>
    
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% else %}
        
        <form action="{% url 'password_reset' %}" method="POST">
            {% csrf_token %}
            
            <label class="content">Verify Email </label>
            <input type="email" name="email" placeholder="Enter your email" required>
            
            <button type="submit" class="login-button all-space-small" role="button">Send Reset Link</button>
            </form>
        
    {% endif %}
{% endblock %}

{% block additional_footer_content %}
    <div class="container main-footer-container">
        <ul class="footer-nav">
            <li>
                <a href="{% url 'signin' %}">
                    <button class="sign-up-button2" role="button">
                        <strong> Back to Login </strong>
                    </button>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

<!-- For my custom forgot password structure development reference :
    ----------------------------------------------------------------

<form action="{% url 'forgot_password' %}" method="POST">
            {% csrf_token %}
            
            {% if success %}
                <div class="content success"> Reset Password Successful! </div>
            {% endif %}
            
            <label class="content">Username</label>
            <input type="text" name="username" placeholder="username" id="username">
            
            <label class="content">New Password</label>
            <div class="password-input-container">
                <input type="password" name="new_password" placeholder="password" id="new-password">
                <button type="button" id="toggle-new-password" class="password-toggle-button">Show</button>
            </div>
            <br>
            
            <label class="content">Confirm New Password</label>
            <div class="password-input-container">
                <input type="password" name="confirm_password" placeholder="confirm password" id="confirm-password-forgot">
                <button type="button" id="toggle-confirm-password" class="password-toggle-button">Show</button>
            </div>
            <button id="confirm-password" class="login-button" type="button" role="button">Confirm</button>
        </form> 
    -----------------------------------------------------------------
-->