{% extends 'index.html' %}
{% load static %}
 
    <title>{% block title %} Barbell | Password Reset Complete {% endblock %}</title>
        {% block nav %}
          {% block header %}<h1 class="barbell">Password Reset Complete</h1> {% endblock %}
        {% endblock %} 
    {% block content %}
    <div class="container backdrop-form-style ">
        <p class="content-settings center">Your password has now been reset. You may now proceed to login</p> 
        <a href="{% url 'signin' %}" ><button class="sign-up-button2 ">Login</button></a>
    </div>
        {% endblock %}
        {% block additional_footer_content %} 
        {% endblock %}
    {% block scripts %}
<!-- <script src="{% static '' %}"></script> -->
    {% endblock %}

