{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% load account %}

<!-- For these templates, their whole purpose is to override Django-allauth's 
     default templates, all while retaining the view logic to handle the
     email verification process -->

{% block style %}

{% endblock %}

{% block title %}
    Barbell | Reset Password
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
    <h3 class="barbell text-lg p-1 sm:text-2xl md:text-4xl lg:text-6xl md:m-8">{% trans "Password Reset" %}</h3>
    
    {% if user.is_authenticated %}
        <div class="text-xl text-center">
            {% include "account/snippets/already_logged_in.html" %}
        </div>
    {% else %}
    <div class="flex justify-center">
        <form action="{% url 'password_reset' %}" method="POST" class="w-1/2">
            {% csrf_token %}
            
            <label class="content text-lg m-3">Verify Email</label>
            <div class="flex justify-center m-3">
                <input class="w-1/2" type="email" name="email" placeholder="Enter your email" required>
            </div>

            <div class="flex justify-center m-3">
                <button type="submit" class="twButtonpurple p-3 w-1/3" role="button">Send Reset Link</button>
            </div>
        </form>
    </div>
    <div class="flex justify-center m-3">
        <a href="{% url 'signin' %}">
            <button class="twButtonblue p-3" role="button">
                Back to Login
            </button>
        </a>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

<!-- For my custom forgot password structure development reference :
    ----------------------------------------------------------------

<form action="{% url 'forgot_password' %}" method="POST">
            {% csrf_token %}
            
            {% if success %}
                <div class="content success"> Reset Password Successful! </div>
            {% endif %}
            
            <label class="content">Username</label>
            <input type="text" name="username" placeholder="username" id="username">
            
            <label class="content">New Password</label>
            <div class="password-input-container">
                <input type="password" name="new_password" placeholder="password" id="new-password">
                <button type="button" id="toggle-new-password" class="password-toggle-button">Show</button>
            </div>
            <br>
            
            <label class="content">Confirm New Password</label>
            <div class="password-input-container">
                <input type="password" name="confirm_password" placeholder="confirm password" id="confirm-password-forgot">
                <button type="button" id="toggle-confirm-password" class="password-toggle-button">Show</button>
            </div>
            <button id="confirm-password" class="login-button" type="button" role="button">Confirm</button>
        </form> 
    -----------------------------------------------------------------
-->