{% extends 'index.html' %}
{% load static %}
 
    <title>{% block title %} Barbell | Password Reset Done {% endblock %}</title>
        {% block nav %}
          {% block header %}<h1 class="barbell">Password Reset Done</h1> {% endblock %}
        {% endblock %} 
    {% block content %}
    <div class="backdrop-form-style">
        <img class="static-logo-white" src="{% static 'images/barbell_white.png' %}" />    
    </div>
    {% endblock %}
        {% block additional_footer_content %} 
          <ul class="footer-nav">
              <li>
                  <a href="#"><button id="back-button" class="profile-button" role="button"><strong> Back </strong></button></a>
              </li>
          </ul>
        {% endblock %}
    {% block scripts %}
<!-- <script src="{% static '' %}"></script> -->
    {% endblock %}

<!--

    {% extends "account/base.html" %}

    {% load i18n %}
    {% load account %}
    
    {% block head_title %}{% trans "Password Reset" %}{% endblock %}
    
    {% block content %}
        <h1>{% trans "Password Reset" %}</h1>
        
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <p>{% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
    {% endblock %}
    -->