<!DOCTYPE html>
<html>
    <head>
        <title>Barbell | Profile </title>
        <meta name="description" content="This is the description" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
        <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
        />
      </head>

      <!-- Header-->

    <body>
        <div class="page-wrapper">
            <header class="main-header">
                <br>
                <br>
                <br>
                <br>
                <nav class="nav main-nav">
                        <li><a href="home_screen.html">HOME</a></li>
                        <li><a href="group_screen.html">GROUP</a></li>
                        <h1 class="barbell">Profile</h1>
                </nav>
            </header>

            <!--Main Profile Content-->

          <section class="content-section container"> 
                     <img class="home-screen-image" src="images/barbell_blue.png"> 
                     <h1>'Insert Self Username'</h1>
                     <p>'Insert User Bio'</p>
          </section>
            <section class="content-section-small container button-container">
                <div class="button-group">
                    <a href="stat_screen.html"><button class="profile-button" role="button"><strong> View Stats </strong></button></a>
                    <a href="group_screen.html"><button class="profile-button" role="button"><strong> View Group</strong></button></a>
                </div>
            </section>

            <!-- Footer Content -->

            <footer class="main-footer">
                <div class="container main-footer-container">
                    <ul class="footer-nav">
                        <li>
                            <a href="profilesettings_screen.html"><button class="profile-button" role="button"><strong> Settings </strong></button></a>
                            <a href="index.html"><button class="profile-button" role="button"><strong>Log Out</strong></button></a>
                        </li>
                    </ul>
                </div>
                <div class="container main-footer-container">
                    <ul class="footer-nav">
                        <li>
                            <a href="#"><button id="back-button" class="profile-button" role="button"><strong> Back </strong></button></a>
                        </li>
                    </ul>
                </div>
            </footer> 
        </div>
        <script src="{% static 'js/profile-self.js' %}"></script>
    </body> 
</html>