{% extends 'index.html' %}
{% load static %}
    
        <title>{% block title %} Barbell | Profile {% endblock %} </title>
                {% block nav %}
                        <li><a href="/home">HOME</a></li>
                        <li><a href="/group_screen">GROUP</a></li> 
                        {% block header %}<h1 class="barbell">Profile</h1> {% endblock %}
                {% endblock %}
            {% block content %}
                <img class="home-screen-image" src="{% if custom_user.profile_picture %}{{ custom_user.profile_picture.url }}{% else %}{% static 'images/profile.png' %}"{% endif }> 
                <h1>{{ custom_user.username }}</h1>
                <p>{{ custom_user.bio|default:"No bio yet."}}</p>
                <section class="content-section-small container button-container">
                    <div class="button-group">
                        <a href="{% url 'stat' %}"><button class="profile-button" role="button"><strong> View Stats </strong></button></a>
            
                        {% if custom_user.groups.all %}
                            <a href="{% url 'group_screen' %}"><button class="profile-button" role="button"><strong> View Group</strong></button></a>
                        {% else %}
                            <a href="{% url 'create_group' %}"><button class="profile-button" role="button"><strong> Create Group</strong></button></a>
                        {% endif %}
                    </div>
                </section>
            {% endif %}
            {% endblock %}
            {% block additional_footer_content %}
                <div class="container main-footer-container">
                    <ul class="footer-nav">
                        <li>
                            <a href="{% url 'profilesettings' %}"><button class="profile-button" role="button"><strong> Settings </strong></button></a>
                            <a href="{% url 'index' %}"><button class="profile-button" role="button"><strong>Log Out</strong></button></a>
                        </li>
                    </ul>
                </div>
                <div class="container main-footer-container">
                    <ul class="footer-nav">
                        <li>
                            <a href="#"><button id="back-button" class="profile-button" role="button"><strong> Back </strong></button></a>
                        </li>
                    </ul>
                </div>
            {% endblock %}
        {% block scripts %}
        <script src="{% static 'js/profile-self.js' %}"></script>
        {% endblock %}