venv/
__pycache__/

GCS/
ENV/

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Database files
*.db
*.sqlite3


secret_settings.py

# Local development settings
local_settings.py

# IDE and text editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and temp files
*.log
*.swp
*.swo
.DS_Store

.env


.secret_key

/logs/*
ENV/secret.env

node_modules/
