venv/
__pycache__/

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Database files
*.db
*.sqlite3

# Secret settings (if you have any)
secret_settings.py

# Local development settings
local_settings.py

# IDE and text editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and temp files
*.log
*.swp
*.swo
.DS_Store

# Environment variables file (if you use one)
.env


.secret_key

barbell_backend/gcs/

