{% extends 'index.html' %}
{% load static %}
        <title>{% block title %}Barbell | Privacy Settings {% endblock %} </title>
                {% block nav %}
                        <li><a href="/profile/self">PROFILE</a></li>
                        <li><a href="/home">HOME</a></li>
                        {% block header %}<h3 class="barbell">Privacy</h3> {% endblock %}
                {% endblock %}
                     
           
            {% block content %}
            <section class="content-section container main-header">
              <form>
                <label> Privacy Settings In Developement &#9935; </label>
              </form>
            </section>
            {% endblock %}
        
       {% block additional_footer_content %} {% endblock %}
       {% block scripts %}
        <script src="{% static 'js/general-settings.js' %}"></script>
        {% endblock %}

