{% extends 'index.html' %}
{% load static %}
 
    <title>{% block title %} Barbell | About {% endblock %}</title>
        {% block nav %}
          <li><a href="/general_settings">SETTINGS</a></li> 
          <li><a href="/profile/self">PROFILE</a></li>
          {% block header %}<h1 class="barbell">About</h1> {% endblock %}
        {% endblock %} 
    {% block content %}
    <div class="content">
      <p> Version 1.0</p>
      <p> Created By: <a href="https://github.com/alexfisher03" target="_blank"> Alexander Fisher</a> (University Of Florida)
        and <a href="https://github.com/jsalem5?tab=repositories" target="_blank"> Jonathan Salem </a> (University of Texas)</p>
      </div>

      <div class="content">
        More Coming Soon &#9935;
      </div>
    </div>
    {% endblock %}
        {% block additional_footer_content %} 
          <ul class="footer-nav">
              <li>
                  <a href="#"><button id="back-button" class="profile-button" role="button"><strong> Back </strong></button></a>
              </li>
          </ul>
        {% endblock %}
    {% block scripts %}
<script src="{% static 'js/about.js' %}"></script>
    {% endblock %}

