{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="theme-color"
          content="#4285f4"/>
    <title>{% block title %} Barbell | About {% endblock %}</title>
    <meta name="description" content="This is the description" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
    />
  </head>

  <body>
    <div class="page-wrapper">
        <header class="main-header">
          <br>
          <br>
          <br>
          <br>
      <nav class="nav main-nav">
          <li><a href="generalsettings_screen.html">SETTINGS</a></li>
          <li><a href="profile_self_screen.html">PROFILE</a></li>
          <h1 class="barbell">About</h1>
      </nav>
      </header>
      <section class="content-section container main-header">
      <h class="section-header">Version 1.0</h>
      <div class="content">
        Prototype Web App 'Barbell'
      </div>
      <div class="content">
        Created by Alexander Fisher and Jonathan Salem
      </div>
      <div class="content">
        More Coming Soon &#9935;
      </div>
  
      </section>
      <footer class="main-footer">
        <div class="container main-footer-container">
        {% block additional_footer_content %} 
          <ul class="footer-nav">
              <li>
                  <a href="#"><button id="back-button" class="profile-button" role="button"><strong> Back </strong></button></a>
              </li>
          </ul>
        {% endblock %}
      </div>
      <div class="container main-footer-container">
        <img class="home-screen-image" src="images/barbell_white.png" />    
      </div>
      </footer>
    </div>
<script src="{% static 'js/about.js' %}"></script>
</body>
</html>
