{% extends 'index.html' %}
{% load static %}
 
    <title>{% block title %} Barbell | About {% endblock %}</title>
        {% block nav %}
          <li><a href="/general_settings">SETTINGS</a></li> 
          <li><a href="/profile/self">PROFILE</a></li>
          {% block header %}<h1 class="barbell">About</h1> {% endblock %}
        {% endblock %} 
    {% block content %}
      <h class="section-header">Version 1.0</h>
      <div class="content">
        Prototype Web App 'Barbell'
      </div>
      <div class="content">
        Created by Alexander Fisher and Jonathan Salem
      </div>
      <div class="content">
        More Coming Soon &#9935;
      </div>
    {% endblock %}
        {% block additional_footer_content %} 
          <ul class="footer-nav">
              <li>
                  <a href="#"><button id="back-button" class="profile-button" role="button"><strong> Back </strong></button></a>
              </li>
          </ul>
        {% endblock %}
    {% block scripts %}
<script src="{% static 'js/about.js' %}"></script>
    {% endblock %}

