{% extends 'index.html' %}
{% load static %}

    {% block style %}
    <style>
  table {
    font-family: helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 0.5px solid #dddddd;
    text-align: left;
    padding: 15px;
  }
  </style>
  {% endblock %}  
  <title>{% block title %} Barbell | Stats {% endblock %} </title>
{% block nav %}
  <li><a href="profile_self_screen.html">PROFILE</a></li>
  <li><a href="home_screen.html">HOME</a></li>
  <li><a href="group_screen.html">GROUP</a></li>
      {% block header %}<h1 class="barbell">'Insert Username''s Stats</h1> {% endblock %}
{% endblock %}
{% block content %}
      <section class="content-section-stat content-stat">  
        <h1 class="main-header">Chest</h1>
        <div class="container">
          <table>
            <thead>
              <tr>
                <th>Movement Range</th>
                <th>Flat Bench Press</th>
                <th>Incline Bench Press</th>
                <th>Chest Press</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Top Set Range Max</th>
 <!--Bench-->   <td id="userBenchPressMax"></td>
 <!--Incline--> <td>'Input User Data'</td>
 <!--Chest P--> <td>'Input User Data'</td>
                
              </tr>
              <tr>
                <th>Single Rep Max</th>
 <!--Bench-->   <td>'Input User Data'</td>
 <!--Incline--> <td>'Input User Data'</td>
 <!--Chest P--> <td>'Input User Data'</td>
                
              </tr>
              <tr>
                <th>Average Warmup Range</th>
 <!--Bench-->   <td>'Input User Data'</td>
 <!--Incline--> <td>'Input User Data'</td>
 <!--Chest P--> <td>'Input User Data'</td>
              </tr>
              </tbody>
          </table>
        </div>
      </section>  
      <section class="content-section-stat content-stat">  
        <h1 class="main-header">Back</h1>
        <div class="container">
          <table>
            <thead>
              <tr>
                <th>Movement Range</th>
                <th>Barbell Row</th>
                <th>Lat Pull Down</th>
                <th>Pull Up</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Top Set Range Max</th>
 <!--BBrow-->   <td>'Input User Data'</td>
 <!--LatPD-->   <td>'Input User Data'</td>
 <!--Pullup-->  <td>'Input User Data'</td>
                
              </tr>
              <tr>
                <th>Single Rep Max</th>
 <!--BBrow-->   <td>'Input User Data'</td>
 <!--LatPD-->   <td>'Input User Data'</td>
 <!--Pullup-->  <td>'Input User Data'</td>
                
              </tr>
              <tr>
                <th>Average Warmup Range</th>
 <!--BBrow-->   <td>'Input User Data'</td>
 <!--LatPD-->   <td>'Input User Data'</td>
 <!--Pullup-->  <td>'Input User Data'</td>
              </tr>
              </tbody>
          </table>
        </div>
      </section> 
      <section class="content-section-stat content-stat"> 
        <h1 class="main-header">Arms</h1>
        <div class="container">
          <table>
            <thead>
              <tr>
                <th>Movement Range</th>
                <th>Tricep Push Down</th>
                <th>Barbell Bicep Curl</th>
                <th>Hammer Curl</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Top Set Range Max</th>
 <!--TRIpd-->   <td>'Input User Data'</td>
 <!--BBcurl-->  <td>'Input User Data'</td>
 <!--Pullup-->  <td>'Input User Data'</td>
                
              </tr>
              <tr>
                <th>Single Rep Max</th>
 <!--TRIpd-->   <td>'Input User Data'</td>
 <!--BBcurl-->  <td>'Input User Data'</td>
 <!--Pullup-->  <td>'Input User Data'</td>
                
              </tr>
              <tr>
                <th>Average Warmup Range</th>
 <!--TRIpd-->   <td>'Input User Data'</td>
 <!--BBcurl-->  <td>'Input User Data'</td>
 <!--Pullup-->  <td>'Input User Data'</td>
              </tr>
              </tbody>
          </table>
        </div>
      </section> 
      <section class="content-section-stat content-stat">  
        <h1 class="main-header">Legs</h1>
        <div class="container">
          <table>
            <thead>
              <tr>
                <th>Movement Range</th>
                <th>Back Squat</th>
                <th>Hack Squat</th>
                <th>Leg Press</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Top Set Range Max</th>
 <!--BackSQ-->  <td>'Input User Data'</td>
 <!--HackSQ-->  <td>'Input User Data'</td>
 <!--LegPres--> <td>'Input User Data'</td>
                
              </tr>
              <tr>
                <th>Single Rep Max</th>
 <!--BackSQ-->  <td>'Input User Data'</td>
 <!--HackSQ-->  <td>'Input User Data'</td>
 <!--LegPres--> <td>'Input User Data'</td>
                
              </tr>
              <tr>
                <th>Average Warmup Range</th>
 <!--BackSQ-->  <td>'Input User Data'</td>
 <!--HackSQ-->  <td>'Input User Data'</td>
 <!--LegPres--> <td>'Input User Data'</td>
              </tr>
              </tbody>
          </table>
        </div>
{% endblock %}
       
        
          {% block footer %}
          <div class="button-container">
            <a href="#"><button id="view-global-leaderboard" class="stat-button" role="button"><strong> View Global Leaderboard </strong></button></a>
          </div>
          <div class="button-container">
            <a href="#"><button id="view-group-leaderboard" class="stat-button" role="button"><strong> View Group Leaderboard </strong></button></a>
          </div>
          <div class="container main-footer-container">
            <ul class="footer-nav">
              <li>
                <a href="#"><button id="back-button" class="previous" role="button"><strong> Back </strong></button></a>
                <span><a href="profile-settings_screen.html"><button class="stat-button" role="button"><strong>Settings </strong></button></a></a></span>
              </li>
        </ul>
       {% endblock %}
    {% block script %}
    <script src="{% static 'js/stat.js' %}"></script>
    {% endblock %}


