{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="theme-color"
          content="#4285f4"/>
    <title>{% block title %} Barbell | Index {% endblock %} </title>
    <meta name="description" content="This is the description" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="page-wrapper">
        <header class="main-header">
          <br>
          <br>
          <br>
          <br>
      <nav class="nav main-nav">
          <li><a href="profile_self_screen.html">PROFILE</a></li>
          <h1 class="barbell">Home</h1>
      </nav>
      </header>
      <section class="content-section container main-header">
        {% block content %}{% endblock %}
      </section>
      <footer class="main-footer">
      <div class="container main-footer-container">
        <img class="home-screen-image" src="{% static 'images/barbell_white.png' %}" />    
      </div>
      </footer>
    </div>
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>