{% extends 'index.html' %}
{% load static %}



<title>{% block title %} Barbell | Profile {% endblock %} </title>
{% block nav %}
<li><a href="/home">HOME</a></li>
{% if current_group %}
<li><a href="{% url 'group_screen' group_id=current_group.id %}">GROUP</a></li>
{% else %}
<li><a href="#">No Group</a></li>
{% endif %}
{% block header %}<h1 class="barbell">Profile</h1> {% endblock %}
{% endblock %}
{% block content %}
<div class="backdrop-form-style">
  <img class="home-screen-image"
    src="{% if custom_user.profile_picture %}{{ custom_user.profile_picture.url }}{% else %}{% static 'images/profile.png' %}{% endif %}">
  <h1 class="barbell-username">{{ custom_user.username }}</h1>
  <p class="content">{{ custom_user.bio|default:"No bio yet."}}</p>
</div>
<section class="content-section-small container button-container">
  <div class='button-group content'>
    <a href="{% url 'input_rep_stats' %}"><button class="profile-button" role="button"><strong>Choose Your
          Split</strong></button></a>
  </div>
  <br>
  <br>
  <div class="button-group">
    {% if current_group %}
    <a href="{% url 'group_screen' group_id=current_group.id %}"><button class="profile-button" role="button"><strong>
          View Group</strong></button></a>
    {% else %}
    <a href="{% url 'create_group' %}"><button class="profile-button" role="button"><strong> Create
          Group</strong></button></a>
    {% endif %}
  </div>
</section>
<br>
<br>
{% endblock %}
{% block additional_footer_content %}
<div class="button-container">
  <a href="{% url 'global_leaderboard' %}"><button id="view-global-leaderboard" class="stat-button"
      role="button"><strong> View Global Leaderboard </strong></button></a>
</div>
<div class="button-container">
  <a href="{% url 'group_leaderboard' %}"><button id="view-group-leaderboard" class="stat-button" role="button"><strong>
        View Group Leaderboard </strong></button></a>
</div>
<div class="container main-footer-container">
  <ul class="footer-nav">
    <li>
      <a href="{% url 'profilesettings' %}"><button class="profile-button" role="button"><strong> Settings
          </strong></button></a>
      <a href="{% url 'index' %}"><button class="profile-button" role="button"><strong>Log Out</strong></button></a>
    </li>
  </ul>
</div>
<div class="container main-footer-container">
  <ul class="footer-nav">
    <li>
      <a href="#"><button id="back-button" class="profile-button" role="button"><strong> Back </strong></button></a>
    </li>
  </ul>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/profile-self.js' %}"></script>
{% endblock %}