{% extends 'index.html' %}
{% load static %}
{% block style %}
<style>
  table {
    font-family: helvetica, sans-serif;
    border-collapse: separate;
    border-spacing: 15px 15px;
    width: 100%;
    table-layout: fixed;
  }
  
   td, th {
    border: 1px rgba(255,255,255,0.13); 
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    line-height: 20px;
    width: 235px;
    height: 15px;
  }

  </style>
{% endblock %}
<title>{% block title %} Barbell | Input Stats  {% endblock %}</title>
{% block nav %}
    <li><a href="{% url 'profile' profile_id=request.user.id %}">PROFILE</a></li>
    <li><a href="/home">HOME</a></li>
  {% block header %}<h1 class="barbell">Input Stats</h1> {% endblock %}
{% endblock %}
            
{% block content %}
  <div class="backdrop-form-style">
    <section class="content-section-stat content-stat">  
    <h1 class="main-header">Exercises</h1>
    <div class="container">
      <table id = "custom"> 
      </table>
      <form class="stat-form" method="post">
        {% csrf_token %}
        <div class="stat-inputs">
          <input type="text" name="exercise_name">
          <input type="number" name="num_sets">
          <input type="number" name="num_reps">
        </div>
        <button class="center" type="submit">Add</button>
      </form>
    </div>
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>   
    <script src="{% static 'js/stat.js' %}"></script>
    {% endblock %}
    </div>
  </section>  
</div>
{% endblock %}

{% block additional_footer_content %}
<div class="">
  <a href="{% url 'profile' profile_id=request.user.id %}"><button id="" class="stat-button" role="button"><strong> Confirm Updated Settings </strong></button></a>
</div>
{% endblock %}


