<!DOCTYPE html>
<html>
  <head>
    <meta name="theme-color"
          content="#4285f4"/>
    <title>Barbell | Reset Password</title>
    <meta name="description" content="This is the description" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="page-wrapper">
      <header class="main-header">
          <br>
          <br>
          <br>
          <br>
    </header>
    <section class="container main-header">
          <form>
            <h3 class="section-header">Reset Password</h3>
            <label class="content" for="New-Password">New Password</label>
            <div class="password-input-container">
              <input type="password" placeholder="password" id="new-password">
              <button id="toggle-new-password" class="password-toggle-button">Show</button>
            </div>
            <br>
            <label class="content" for="confirm-password-forgot">Confirm New Password</label>
            <div class="password-input-container">
              <input type="password" placeholder="confirm password" id="confirm-password-forgot">
              <button id="toggle-confirm-password" class="password-toggle-button">Show</button>
            </div>
            <button id="confirm-password" class="login-button" role="button">Confirm</button>
          </form>
    </section>
    <footer class="main-footer">
      <div class="container main-footer-container">
        <ul class="footer-nav">
            <li>
                <a href="#"><button id="back-button" class="profile-button" role="button"><strong> Back </strong></button></a>
            </li>
        </ul>
    </div>
      <div class="container main-footer-container">
        <img class="home-screen-image" src="images/barbell_white.png" />    
      </div>
    </footer>
  </div>
  <script src="{% static 'js/forgot-pass.js' %}"></script>
</body>
</html>
