{% extends 'index.html' %}
{% load static %}
    <title>{% block title %} Barbell | Home {% endblock %} </title>
          {% block nav %}
          <li><a href="/profile/self">PROFILE</a></li>
          <li><a href="/general_settings">MORE</a></li>
          {% block header %}<h1 class="barbell">Home</h1> {% endblock %}
          {% endblock %}
        {% block content %}
    <div class="backdrop-form-style">
        <section class="content-section container main-header">
      <h class="section-header">Welcome To Barbell</h>
      <br>
      Find Group, Image Share Timeline, & Comment System coming soon &#9935;
        
      </section>
    </div>
      {% endblock %}
      {% block additional_footer_content %}
            {% endblock %}
    {% block script %}
    <script src="{% static 'js/home.js' %}"></script>
    {% endblock %}

