{% extends 'index.html' %}
{% load static %}


        <title>{% block title %}Barbell | Global Leaderboard {% endblock %} </title>
                {% block nav %}
                        <li><a href="{% url 'profile' profile_id=request.user.id %}">PROFILE</a></li>
                        <li><a href="/home">HOME</a></li>
                        {% block header %}<h3 class="barbell">Global Leaderboard</h3> {% endblock %}
                {% endblock %}
                     
           
            {% block content %}
            <section class="content-section container all-space  ">
              <div id="leaderboard">
                <table>
                  <tr>
                    <td class="number">#1</td>
                    <td class="name">'input user name'</td>
                    <td class="stats">'input user total'</td>
                  </tr>
                  <tr>
                    <td class="number">#2</td>
                    <td class="name">'input user name'</td>
                    <td class="stats">'input user total'</td>
                  </tr>
                  <tr>
                    <td class="number">#3</td>
                    <td class="name">'input user name'</td>
                    <td class="stats">'input user total'</td>
                  </tr>
                  <tr>
                    <td class="number">#4</td>
                    <td class="name">'input user name'</td>
                    <td class="stats">'input user total'</td>
                  </tr>
                  <tr>
                    <td class="number">#5</td>
                    <td class="name">'input user name'</td>
                    <td class="stats">'input user total'</td>
                  </tr>
                  <tr>
                    <td class="number">#6</td>
                    <td class="name">'input user name'</td>
                    <td class="stats">'input user total'</td>
                  </tr>
                  <tr>
                    <td class="number">#7</td>
                    <td class="name">'input user name'</td>
                    <td class="stats">'input user total'</td>
                  </tr>
                  <tr>
                    <td class="number">#8</td>
                    <td class="name">'input user name'</td>
                    <td class="stats">'input user total'</td>
                  </tr>
                  <tr>
                    <td class="number">#9</td>
                    <td class="name">'input user name'</td>
                    <td class="stats">'input user total'</td>
                  </tr>
                  <tr>
                    <td class="number">#10</td>
                    <td class="name">'input user name'</td>
                    <td class="stats">'input user total'</td>
                  </tr>
                </table>
              
            </section>
            {% endblock %}
        
       {% block additional_footer_content %} {% endblock %}
       {% block scripts %}
        <script src="{% static 'js/global-leaderboard.js' %}"></script>
        {% endblock %}