{% extends 'index.html' %}
{% load static %}
        <title>{% block title %} Barbell | Group Settings {% endblock %} </title>
              {% block nav %}
                      <li><a href="/profile/self">PROFILE</a></li>
                      <li><a href="/home">HOME</a></li>
                      {% block header %}<h3 class="barbell">Group Settings</h3> {% endblock %}
              {% endblock %}
              {% block content %}
           
              <section class="content-section container main-header">
                <form action="{% url 'group_settings' group.id %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
            
                  <div class="container">
                  {{ form.name.label_tag }}
                  {{ form.name }}
                  </div> 

                  <div class="container">
                    {{ form.groupbio.label_tag }}
                    {{ form.groupbio }}
                    </div> 

                  
                  <div class="container">
                  <button type="submit" id="confirm-group-settings" data-url="" class="profile-button" role="button"><strong> Confirm Settings </strong></button>
                </div> 
                </form>
            
              </section>

              {% endblock %}
              {% block additional_footer_content %}
              <div class="container main-footer-container">
                <ul class="footer-nav">
                    <li>
                        <a href="#"><button id="back-button" class="profile-button" role="button"><strong> Back </strong></button></a>
                    </li>
                </ul>
            </div>
              {% endblock %}
     {% block script %}
         <script src="{% static 'js/group-settings.js' %}"></script>
      {% endblock %}