{% extends 'index.html' %}
{% load static %}
<title>{% block title %} Barbell | Group Settings {% endblock %} </title>
{% block nav %}
        <li><a href="{% url 'profile' profile_id=request.user.id %}">PROFILE</a></li>
        <li><a href="/home">HOME</a></li>
        {% block header %}<h3 class="barbell text-lg p-1 sm:text-2xl md:text-4xl lg:text-6xl md:m-8">Group Settings</h3> {% endblock %}
{% endblock %}
{% block content %}
<div class="flex justify-center">            
  <form class="w-5/6 p-10 sm:w-3/5" action="{% url 'group_settings' group.id %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container">
    <label for="id_name" class="pb-3">{{ form.name.label }}</label>
    <input id="id_name" type="text" name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:"" }}" class="form-content" />
  </div>
  <div class="container">
    <label for="id_groupbio" class="pb-3">{{ form.groupbio.label }}</label>
    <input id="id_groupbio" type="text" name="{{ form.groupbio.name }}" value="{{ form.groupbio.value|default_if_none:"" }}" class="form-content" />
  </div>
  <label class="content" for="privacy">Privacy Settings</label>
  <div class="sm:group-privacy-radios justify-evenly">  
    <input type="radio" name="privacy" id="dot-1" value="PUB" {% if form.privacy.value == 'PUB' %}checked{% endif %}>
    <input type="radio" name="privacy" id="dot-2" value="PRV" {% if form.privacy.value == 'PRV' %}checked{% endif %}>
    {% if form.privacy.errors %}
    <div class="error">{{ form.privacy.errors.as_text }}</div>
    {% endif %}
    <div class="category flex justify-center translate-x-6 sm:justify-center sm:translate-x-16">
      <div class="flex-col sm:flex sm:justify-center">
        <label for="dot-1">
          <span class="dot one"></span>
          <span class="privacy ml-2">Public</span>
        </label>
        <label for="dot-2">
          <span class="dot two"></span>
          <span class="privacy ml-2">Private</span>
        </label>
      </div>
    </div>
  </div>

  <label for="members_to_remove" class="text-base text-center sm:text-lg font-medium">Remove Members</label>
  <div class="m-3 flex flex-col items-center justify-center">
    <button id="toggleMembersDropdown" class="mt-3 px-2 py-3 twButtonblue w-full sm:w-1/3 text-sm sm:text-base" type="button">
      View Members
    <div class="flex justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5" />
      </svg>
    </div>
    </button>
    <div id="membersDropdown" class="hidden bg-[#eddeff] rounded-lg shadow-lg p-3 mt-4 w-1/2">
        {% for member in form.members_to_remove %}
            <div class="flex items-center p-2 rounded hover:bg-gray-100">
                <input type="checkbox" id="member_{{ member.id_for_label }}" name="{{ form.members_to_remove.html_name }}" value="{{ member.choice_value }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                <label for="member_{{ member.id_for_label }}" class="ml-2 text-sm font-medium text-gray-900">{{ member.choice_label }}</label>
            </div>
        {% endfor %}
        {% if members|length < 2 %}
            <div class="text-red-600 text-sm text-center">*Removing yourself from the group will delete the group.*</div>
        {% endif %}
        <button type="submit" class="mt-4 px-4 py-2 bg-red-600 hover:bg-red-700 text-white rounded-lg">Remove Selected Members</button>
    </div>
</div>

  <div class="container">
      <button type="submit" id="confirm-group-settings" data-url="" class="twButtonpurple p-2 w-5/7 sm:w-1/3 mt-3" role="button"><strong> Confirm </strong></button>
  </div>
  <div class="flex justify-center p-3">
    <a href="{% url 'group_screen' group_id=request.user.current_group.id %}" class="hover:underline text-xl mt-3"> CANCEL </a>
  </div>
  </form>
</div>            
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/group-settings.js' %}"></script>
{% endblock %}