{% extends 'index.html' %}
{% load static %}
        <title>{% block title %} Barbell | Group Settings {% endblock %} </title>
                  {% block nav %}
                        <li><a href="/profile/self">PROFILE</a></li>
                        <li><a href="/home">HOME</a></li>
                        <li><a href="/group_screen">GROUP</a></li>
                        {% block header %}<h1 class="barbell">Group Settings</h1> {% endblock %}
                  {% endblock %}
              {% block content %}
              <section class="content-section container main-header">
                Edit group members &
                Change group name: 
                Coming Soon &#9935;
              </section>
              {% endblock %}
              {% block additional_footer_content %}
              <div class="container main-footer-container">
                  <ul class="footer-nav">
                      <li>
                          <a href="#"><button id="back-button" class="profile-button" role="button"><strong> Back </strong></button></a>
                      </li>
                  </ul>
              </div>
              {% endblock %}
     {% block script %}
         <script src="{% static 'js/group-settings.js' %}"></script>
      {% endblock %}