@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family:"Montserrat";
  src: url("Fonts/Montserrat.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px) {
  body {
      font-size: 18px;
      zoom: 1.2;
  }
}

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #fafafa;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;  
}

html {
  background-image: url("/static/images/gradientbackground.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: rgba(101, 54, 158, 0.788);
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2333);
}

.main-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.main-nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s ease-in-out;
}

.main-nav li {
  padding: 0 15px;
}

.main-nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease-in-out;
}

.body-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2333);
}

.body-nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s ease-in-out;
}

.body-nav li {
  padding: 0 5%;
  
}


.body-nav ul{
  margin: 0;
}

.body-nav li{
  display: inline;
}

.body-nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}



.main-logo {
  max-width: 250px;
  display: inline-block;

}

.page-wrapper {
  background-image: url("/static/images/gradientbackground.jpg"); 
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: rgba(101, 54, 158, 0.788);
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  background-position: center center;
}


.main-header {
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.page-header {
  margin-bottom: 2em;
}

.barbell {
  text-align: center;
  font-size: 4em;
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  color: white;
}

.barbell-username {
  text-align: center;
  font-size: 3em;
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  color: white;
}

.barbell-lite {
  text-align: center;
  font-size: 2.75em;
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  color: rgba(11, 186, 244, 0.89);
}

.barbell-large {
  font-size: 9em;
  text-align: center;
  margin: 0;
  justify-content: center;
}

.content-section {
  display:flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.content-section-stat {
  display:flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
  justify-content: center;
}


.content-section-small {
  display:flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
  justify-content: center;
  height: 25vh;
}

.content-section-group {
  display:flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
  justify-content: center;
}

.content-section-group strong,
.content-section-group a {
  margin-bottom: 10px;
}

.medium-font {
  text-align: center;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: white;
}

.special-font {
  text-align: center;
  font-size: 0.75em;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: rgb(151, 32, 181);
}

.small-font {
  text-align: center;
  font-size: 0.75em;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: white;
}

.content {
  display:flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.content-stat {
  display:flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
  justify-content: center;
}

.content-settings {
  display:flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-size: 1.5em;
}

.container {
  flex: 1;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 1.5em;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-group {
  display: flex;
  justify-content: center ;
  gap: 15px;
}

.section-header {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: rgb(11, 186, 244);
  text-align: center;
  font-size: 2.5em;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.static-logo-white {
height: 300px;
  width: 300px;
  margin: 15px;
  border-radius: 50%;
}

.home-screen-image {
  height: 300px;
  width: 300px;
  margin: 15px;
  border-radius: 50%;
  box-shadow:
  0 0 5px rgba(122, 113, 189, 0.6),
  0 0 10px rgba(122, 113, 189, 0.6),
  0 0 15px rgba(122, 113, 189, 0.6),
  0 0 20px rgba(122, 113, 189, 0.6),
  0 0 25px rgba(122, 113, 189, 0.6),
  0 0 35px rgba(122, 113, 189, 0.6),
  0 0 40px rgba(122, 113, 189, 0.6),
  0 0 50px rgba(122, 113, 189, 0.6),
  0 0 75px rgba(122, 113, 189, 0.6);    
}

.home-screen-text {
  text-align: center;
}

.main-footer {
  color: white;
  padding: 5em;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-footer-container {
  flex: 1;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-logo {
  display:flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  max-width: 25%;
}

.footer-nav ul {
  margin: 0;
}

.footer-nav li {
  display: inline;
}

.footer-nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}


.footer-nav {
  flex-direction: column;
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
  }



.profile-button {
  background-image: linear-gradient(#bba9da, #30a2c5);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(122, 113, 189, 0.6) 3px 12px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 1.4em;
  margin: 0;
  padding: 18px 30px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.stat-button {
  background-image: linear-gradient(#bba9da, #30a2c5);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(122, 113, 189, 0.6) 3px 12px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 1.4em;
  margin: 0;
  padding: 14px 26px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.login-button {
  background-image: linear-gradient(#bba9da, #30a2c5);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(122, 113, 189, 0.6) 3px 12px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 1.4em;
  margin: 0;
  padding: 18px 30px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sign-up-button {
  background-image: linear-gradient(#bba9da, #30a2c5);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(122, 113, 189, 0.6) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 1.8em;
  margin: 10px;
  padding: 20px 30px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sign-up-button2 {  
  background-image: linear-gradient(#0dccea, #e074d9);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(122, 113, 189, 0.6) 0 10px 30px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.8em;
  margin: 0;
  padding: 16px 24px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.back-button2  {  
  background-image: linear-gradient(#0dccea, #0d70ea );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(122, 113, 189, 0.6) 0 10px 30px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 16px 32px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.group-button {
  background-image: linear-gradient(#bba9da, #30a2c5);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(122, 113, 189, 0.6) 3px 12px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 1.4em;
  margin: 0;
  padding: 14px 26px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}


/* THIS IS FOR BACK BUTTONS IN THE FOOTER */
.previous {
  background-image: linear-gradient(#bba9da, #30a2c5);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(122, 113, 189, 0.6) 3px 12px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 1.4em;
  margin: 0;
  padding: 14px 26px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 30px;
}

.table-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*CSS for Table*/

table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

td.linebreak p {
  width: 50%;
}



body{
  background-color: #080710;
}

form{
  background-color: rgba(255,255,255,0.13);
  width: 900px;
  top: 100%;
  left: 50%;
  border-radius: 60px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(122, 113, 189, 0.6);
  padding: 50px 35px;
  margin-top: 20px;
}
form *{
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.gender-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}


form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500  ;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label{
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #0d70ea;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
  background: #b9f0ff;
  border-color: #0dccea;
}

form input[type="radio"]{
  display: none;
}

label{
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 35px;
}
input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder{
  color: #e5e5e5;
}
button{
  margin-top: 50px;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.registration-form {
  background-color: rgba(255,255,255,0.13);
  width: 900px;
  top: 100%;
  left: 50%;
  border-radius: 60px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(122, 113, 189, 0.6);
  padding: 50px 35px;
  margin-top: 20px;
  margin-bottom: 2em;
}


.group-settings-form {
  background-color: rgba(255,255,255,0.13);
  width: 900px;
  top: 100%;
  left: 50%;
  border-radius: 60px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(122, 113, 189, 0.6);
  padding: 50px 35px;
  margin-top: 20px;
  margin-bottom: 2em;
}

.create-group-form {
  background-color: rgba(255,255,255,0.13);
  width: 900px;
  top: 100%;
  left: 50%;
  border-radius: 60px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(122, 113, 189, 0.6);
  padding: 50px 35px;
  margin-top: 20px;
  margin-bottom: 2em;
}

.index-form {
  background-color: rgba(95, 82, 98, 0.311);
  width: 300px;
  top: 100%;
  left: 50%;
  border-radius: 60px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(122, 113, 189, 0.6);
  padding: 50px 35px;
  margin-top: 20px;
  margin-bottom: 2em;
}


.group-privacy-radios {
  display: flex;
  flex-direction: column;
  align-items: center;
}


form .member-limit-details .limit-val {
  font-size: 20px;
  font-weight: 500  ;
}

.password-input-container {
  position: relative;
}

.password-toggle-button {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: none;
  color: #0dccea;
  cursor: pointer;
}

.forgot-password-link {
  display:block;
  text-align: center;
  margin: 20px 0;
}

.backdrop-form-style {
  background-color: rgba(255,255,255,0.13);
  border-radius: 60px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(122, 113, 189, 0.6);
  padding: 50px 35px;
  margin-top: 20px;
  margin-bottom: 2em;
}

.backdrop-form-style-wide {
  background-color: rgba(255,255,255,0.13);
  border-radius: 60px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(122, 113, 189, 0.6);
  padding: 50px 35px;
  margin-top: 20px;
  margin-bottom: 2em;
  width: 650px;
}

.backdrop-form-style-bio {
  background-color: rgba(255,255,255,0.13);
  border-radius: 60px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(122, 113, 189, 0.6);
  padding: 50px 35px;
  margin-top: 20px;
  margin-bottom: 2em;
  width: 250px;
}

.backdrop-form-style-small {
  background-color: rgba(255,255,255,0.13);
  border-radius: 60px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(122, 113, 189, 0.6);
  padding: 50px 35px;
  margin-top: 20px;
  margin-bottom: 2em;
  width: 450px;
}

.form-content {
  background-color: rgba(255,255,255,0.13); /* Add some opacity */
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto; /* centering the form content */
  box-shadow: rgba(122, 113, 189, 0.6) 0 10px 20px; /* similar shadow to existing buttons */
  margin-bottom: 2em;
}


.custom-radio {
  display: flex;
  flex-direction: colum;
}

.custom-radio input[type="radio"] {
  display: inline;
  margin-right: 10px;
  appearance: none;
  outline: none;
}

.custom-radio label {
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.profile-button {
  background-color: rgba(122, 113, 189, 0.8);
  color: #fff;
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-button:hover {
  background-color: rgba(122, 113, 189, 1);
}

.above-space {
  margin-top: 240px;
}

.all-space {
  margin-top: 200px;
  margin-bottom: 100px;
  
}

.all-space-medium {
  margin-top: 75px;
  margin-bottom: 75px;
  
}

.bottom-space-medium {
  margin-bottom: 75px;
  
}


.all-space-small {
  margin-top: 50px;
  margin-bottom: 50px;
  
}

.center {
  text-align: center;
  display: center;
}

.responsive-table {
  overflow-x: auto;
}

.stat-form{
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  box-shadow: 0;
  width: 90%;
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
}

.stat-form button{
  width: 50%;
  background-image: linear-gradient(#095f9e, #07698a);
}

.stat-inputs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.stat-inputs input{
  margin-left: 1%;
  margin-right:  1%;
}

.stat-table{
  width: 100%;
}

.stat-table td{
  width: 100%;
}

.stat-table button{
  width: 10%;
}

