{% extends 'index.html' %}
{% load static %}
  
  <title>{% block title %} Barbell | Create Group {% endblock %} </title> 
        {% block nav %}
          <li><a href="/home">HOME</a></li>
          <li><a href="/general_settings">SETTINGS</a></li>
          {% block header %}<h1 class="barbell ">Create Group</h1> {% endblock %}
          {% endblock %}   
    {% block content %}
      <form class="create-group-form" method="post">
        {% csrf_token %}
        <h3 class="section-header">Create Group</h3>
        <label class="content" >Group Name</label>
        <input type="text" placeholder="Enter Group Name" id="name" name="name" value="{{ form.name.value|default:''}}">
        {% if form.name.errors %}
          <div class="error">{{ form.name.errors.as_text }}</div>
        {% endif %}
        <label class="content" >Bio</label>
        <input type="text" placeholder="Enter Bio Content" id="groupbio" name="groupbio" value="{{ form.groupbio.value|default:''}}">
        {% if form.groupbio.errors %}
          <div class="error">{{ form.groupbio.errors.as_text }}</div>
        {% endif %}
        <label class="content" for="privacy">Privacy Settings</label>
        <div class="group-privacy-radios">  
          <input type="radio" name="privacy" id="dot-1" value="PUB" {% if form.gprivacy.value == 'PUB' %}checked{% endif %}>
          <input type="radio" name="privacy" id="dot-2" value="PRV" {% if form.gprivacy.value == 'PRV' %}checked{% endif %}>
          {% if form.privacy.errors %}
          <div class="error">{{ form.privacy.errors.as_text }}</div>
          {% endif %}
          <div class="category">
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="privacy">Public</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="privacy">Private</span>
            </label>
          </div>
        </div>
        <br>
        <button id="create-group" class="login-button" type="submit">Create Group</button>
        <br>
      </form>

    {% endblock %}    
      {% block additional_footer_content %}
      
        <div class="container main-footer-container">
          <ul class="footer-nav">
              <li>
                  <a href="#"><button id="back-button" class="login-button " role="button"><strong> Back </strong></button></a>
              </li>
          </ul>
        </div>
      {% endblock %}
  {% block scripts %}
  <script src="{% static 'js/creategroup.js' %}"></script>
  {% endblock %}

