{% extends 'index.html' %}
{% load static %}
  
    <title>{% block title %}Barbell | Sign In {% endblock %} </title>
    
        {% block nav %}
          
         {% block header %}  {% endblock %}
        
        {% endblock %}
    
      {% block content %}
          
          <form method="post" action="{% url 'signin' %}">
            {% csrf_token %}
            {% csrf_token %}
            <h3 class="section-header">Login</h3>
            <label class="content" for="username">Username</label>
            <input type="text" placeholder="Username, Email, or Phone" id="username" name="username">
            <br>
            <label class="content" for="password">Password</label>
            <input type="password" placeholder="Password" id="password" name="password">
            <br>
            <button type="submit" id="sign-in-button" class="login-button">Sign In</button>
            <a href="{% url 'forgot_password' %}" class="content container forgot-password-button">Forgot Password?</a>
            <label class="content" for="not-member"> Not a member?</label>
            <br>
            <a href="{% url 'register' %}" class="container sign-up-button2">Sign Up</a>
            
            {% if messages %}
            <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
            </ul>
            {% endif %}
          </form>
        
      {% endblock %}
    
      {% block additional_footer_content %} 
      
         <!-- 
            <ul class="footer-nav">
              <li>
                  <button id="back-button" class="profile-button" role="button"><strong> Back </strong></button>
              </li>
          </ul> 
        -->
        {% endblock %}
    
  
  {% block scripts %}
  <script src="{% static 'js/signin.js' %}"></script>
  {% endblock %}

