{% extends 'index.html' %}
{% load static %}
        <title> {% block title %} Barbell | General Settings {% endblock %} </title>
    
                {% block nav %}
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'profile' profile_id=request.user.id %}">PROFILE</a></li>
                    {% else %}
                        <li><a href="{% url 'signin' %}">LOGIN</a></li>
                    {% endif %}
                        <li><a href="/home">HOME</a></li>
                        
{% block header %}<h3 class="barbell">App Settings</h3> {% endblock %}
                {% endblock %}
            {% block content %}
            <div class="backdrop-form-style-small">
                <a href="{% url 'privacy' %}"><div class="content-settings privacy-link">Privacy</div></a>
                <br>
                <a href="{% url 'about' %}"><div class="content-settings about-link">About</div></a>
                <br>
            </div>
            {% endblock %}
            {% block additional_footer_content %}
                <div class="container main-footer-container">
                    <ul class="footer-nav">
                        <li>
                            <a href="#"><button id="back-button" class="profile-button" role="button"><strong> Back </strong></button></a>
                        </li>
                    </ul>
                </div>
            {% endblock %}
        {% block scripts %}
    <script src="{% static 'js/general-settings.js' %}"></script>
        {% endblock %}
