{% extends 'index.html' %}
{% load static %}
        <title>{% block title %} Barbell | Profile Settings {% endblock %} </title>
        
          {% block nav %}
                    <li><a href="/profile/self">PROFILE</a></li>
                    <li><a href="/home">HOME</a>                    
                    {% block header %}<h1 class="barbell">Profile Settings</h1> {% endblock %}
          {% endblock %}
              {% block content %}
              <form action="{% url 'profilesettings' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
                <div class="container">
              
                {{ form.profile_picture.label_tag }}
                {{ form.profile_picture }}
                <br>
                {{ form.bio.label_tag }}
                {{ form.bio }}
                <br>
                <button type="submit" id="confirm-profile-settings" data-url="{% url 'profile_self' %}" class="profile-button" role="button"><strong> Confirm Settings </strong></button>
                </div> 
              </form>
              {% endblock %}
         {% block additional_footer_content %}
            <div class="container main-footer-container">
              <ul class="footer-nav">
                <div class="backdrop-form-style-bio">
                <li>
                    <label class="content" for="rep-stats">Input Rep Stats:</label>
                    <button id="input-rep-stats" data-url="{% url 'input_rep_stats' %}" class="sign-up-button2" role="button">Click Here</button>
                  </li>
                <li>
                <label class="content" for="reset-password">Reset Password</label>
                <button id="reset-password" data-url="{% url 'forgot_password' %}" class="sign-up-button2" role="button">Click Here</button>
                  </li>
                </div>
                <li>
                <label class="content" for="back-button"></label>
                <button id="back-button"  class="back-button2" role="button"><strong> Back </strong></button>
                  </li>
              </ul>
            </div>
         {% endblock %}
         {% block scripts %}
    <script src="{% static 'js/profile-settings.js' %}"></script>
         {% endblock %}

