{% extends 'index.html' %}
{% load static %}

<title>{% block title %} Barbell | Profile Settings {% endblock %} </title>
        
{% block nav %}
    <li><a href="{% url 'profile' profile_id=request.user.id %}">PROFILE</a></li>
    <li><a href="/home">HOME</a>                    
    {% block header %}<h1 class="barbell text-lg p-1 sm:text-2xl md:text-4xl lg:text-6xl md:m-8">Profile Settings</h1> {% endblock %}
{% endblock %}
  {% block content %}
  <div class="flex justify-center">
    <form action="{% url 'profilesettings' %}" method="POST" enctype="multipart/form-data" class="w-5/6 sm:w-1/2">
      {% csrf_token %}
      {% if form.non_field_errors %}
        <div class="alert alert-warning">
          {% for error in form.non_field_errors %}
            <p class="text-center underline p-3">{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
      <div class="container">
        <div class="small-container">
          <div class="p-3">
            {{ form.profile_picture.label_tag }}
            {{ form.profile_picture }}
          </div>
          {% if form.profile_picture.errors %}
            <div class="alert alert-danger underline p-3">
              {% for error in form.profile_picture.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {{ form.bio.label_tag }}
        <div class="w-5/7 sm:w-1/2">
          {{ form.bio }}
        </div>
        <button id="reset-password" data-url="{% url 'password_reset' %}" class="mt-6 text-xs sm:text-base underline hover:" role="button">Reset Password</button>
      
        <button type="submit" id="confirm-profile-settings" 
          data-url="{% url 'profile' profile_id=request.user.id %}" 
          class="twButtonpurple p-2 mt-5 w-1/2 sm:w-1/4 sm:p-3" role="button">
          Confirm
        </button>
        <div class="justify-center p-3 m-3">
          <button data-url="{% url 'profile' profile_id=request.user.id %}" class="hover:underline hover:scale-105"> CANCEL </button>
        </div>
      </div> 
      
    </form>
  </div>
    {% endblock %}
{% block scripts %}
<script src="{% static 'js/profile-settings.js' %}"></script>
{% endblock %}

